.react-datepicker {
  border-radius: 0.5rem;
  font-family: inherit;
  border: 1px solid #0ec8d4 !important;
}
.react-datepicker__header {
  background-color: #0ec8d4 !important;
  color: #fff !important;
}
.react-datepicker__day-name {
  color: #fff !important;
}
.react-datepicker__current-month {
  color: #fff !important;
}
.react-datepicker__day--selected {
  background-color: #0ec8d4 !important;
  color: white;
}

/* .react-datepicker,
.react-datepicker__header,
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  font-size: 1rem; 
} */
